body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  padding: 50px;
}

#calculator {
  display: flex;
  flex-direction: column;
  width: 310px;
  height: 500px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-image: linear-gradient(to top, #b0b0e0, #bfbfef);
}

#display {
  font-style: bold;
  font-size: 18px;
  height: 100px;
  border: 1px solid #c1b5c0;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  background-color: white;
  box-shadow: 5px 10px 20px black;
}

#previousOperand {
  text-align: right;
  height: 40px;
  color: lightgray;
  border-radius: 5px;
  width: 270px;
}

#currentOperand {
  text-align: right;
  height: 40px;
  color: darkgray;
  height: 40px;
  width: 270px;
}
#operator {
  font-size: 12px;
  text-align: left;
  color: gray
}

button .clear{
  width: 136px;
}
#clearButton {
  width: 137px;
}
#numButtons-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.button {
  font-size: 18px;
  margin: 1px;
  padding: 1px;
  width: 65px;
  height: 65px;
  border: 2px solid #d7c2c2;
  background-image: linear-gradient(to top, #f5fff4, #f0f0f0);
  border-radius: 5px;
}
.numButtons:active {
  background-image: linear-gradient(to top, #f0f0f0, #f5fff4);
}
